.whitegrid::after {
  position: absolute;
  content: "";
  background: url("/images/Grid_Pattern_White.svg") round fixed;
  background-size: 4rem;
  height: 100%;
  width: 100%;
  inset: 0;
  opacity: 0.5;
  z-index: 2;
  background-attachment: fixed;
}
.dark__overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}
